<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input
            type="text"
            name="keyword"
            class="form-control"
            placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..."
            value="{{keyword}}"
            aria-describedby="search-button"
          />
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i
                class="fas fa-search"
              ></i></button>
          </div>
        </div>
        <div class="mt-4">
          <a
            href="/restaurants/new"
            class="text-decoration-none border border-2 border-warning text-white bg-dark p-2 rounded-pill"
          >
            <i class="fa-solid fa-plus"></i>
            新增餐廳
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5 pb-5 text-center">
  <p>沒有相符的餐廳</p>
</div>